
.profile-info {
    padding-left: 10px;
    line-height: 2px;
}

.profile-details {
   
    padding-left: 30px;
}

.details {
    background-color: aliceblue;
    height: 80px;
    border-radius: 10px;
}

.weight-height {
    display: flex;
}

.add-break {
    border: none;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

.container {
    margin-top: 80px;
}

.add-break:hover {
    background-color: blanchedalmond;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.exercise-time {
    padding-left: 20px;
    padding-top: 30px;
}

.totalsec {
    padding-left: 100px;
}

.activity-btn {
    background-color: blue;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}

.activity-btn:hover {
    background-color: orange;
}

.active-name {
    font-size: 20px;
}