.items-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.exercise {
    padding-left: 30px;
}

.items-body {
    background-color: aliceblue;
}

.profile-body {
    background-color: beige;
    padding-left: 20px;
    padding-right: 20px;
}

.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 960px) {
    .item {
        grid-template-columns: repeat(1, 1fr);
    }
}